<html>
<head>
    <title>Create Issue — Issue CRUD Tutorial</title>
    <meta name="decorator" content="atl.general">
</head>
<body class="page-type-admin">
<div class="content-container" id="issue-crud-container">

    <div class="content-body">
        <h1>创建gantt配置</h1>
        <div class="create-issue-panel">

            <form method="post" id="h" action="config" class="aui">
                <input type="hidden" name="actionType" value="new">
                <div class="field-group">
                    <label for="h-name">
                        name
                        <span class="aui-icon icon-required"></span>
                        <span class="content">required</span>
                    </label>
                    <input id="h-name" class="text long-field" type="text" name="name">
                </div>
                <div class="field-group">
                    <label for="h-startdate-customfiled-id">
                        startDataCustomFieldId
                        <span class="aui-icon icon-required"></span>
                        <span class="content">required</span>
                    </label>
                    <input id="h-startdate-customfiled-id" class="text long-field" type="number" name="startDateCustomFieldId">
                </div>
                <div class="field-group">
                    <label for="h-enddate-customfiled-id">
                        endDataCustomFieldId
                        <span class="aui-icon icon-required"></span>
                        <span class="content">required</span>
                    </label>
                    <input id="h-enddate-customfiled-id" class="text long-field" type="number" name="endDateCustomFieldId">
                </div>
                <div class="field-group">
                    <label for="h-jql">
                        jql
                        <span class="aui-icon icon-required"></span>
                        <span class="content">required</span>
                    </label>
                    <textarea style="height: 300px; width: 500px" id="h-jql" name="jql"></textarea>
                </div>
                <div class="buttons">
                    <input class="button" type="submit" value="Create">
                    <a href="config">Cancel</a>
                </div>
            </form>
        </div>
    </div>

</div>
</body>
</html>
